@model AppMvc.Areas.Product.Controllers.ProductManageController.UploadOneFile
@using App.Models.Product
@{
    ProductModel product = ViewData["product"] as ProductModel;
}



<h1>Upload photo: @product.Title</h1>

<form method="post" enctype="multipart/form-data">
    <label asp-for="@Model.FileUpload"></label>
    <input asp-for="@Model.FileUpload">
    <span asp-validation-for="@Model.FileUpload"></span>

    <button class="btn btn-primary" asp-action="UploadPhoto" asp-route-id="@product.ProductID">Upload</button>
</form>

<hr />

<input class="collapse" type="file" id="selectFileUpload" onchange="autoUploadPhoto()" />
<span class="btn btn-primary" onclick="clickButtonUpload()">Uploads</span>

<div id="box-photo-upload" class="d-flex flex-wrap photo-upload" data-id="@product.ProductID">

</div>

@section Scripts {
<script>
    function setClickDeletePhoto() {
        $("#box-photo-upload .photodetail span").click(function () {

            if (confirm("Có chắc chắn xóa ảnh?") != true) return

            var spanButton = $(this)
            var id = spanButton.data("id")

            var formData = new FormData()
            formData.append("id", id)
            var urlDeletePhoto = "@Url.Action("DeletePhoto")"

            $.ajax({
                data: formData,
                cache: false,
                url: urlDeletePhoto,
                type: "POST",
                contentType: false,
                processData: false,
                success: function (data) {
                    LoadPhotos()
                }
            })
        })
    }


    function LoadPhotos() {
        var box = $("#box-photo-upload")
        var productID = box.data("id")
        box.empty()

        var formData = new FormData()
        formData.append("id", productID)
        var urlListPhoto = "@Url.Action("ListPhoto")"

        $.ajax({
            data: formData,
            cache: false,
            url: urlListPhoto,
            type: "POST",
            contentType: false,
            processData: false,
            success: function (data) {
                data.photos.forEach(function (item) {
                    var e = $(
                        '<div class="photodetail w-25 p-1">' +
                        '<img class="w-100" src="' + item.path + '" />' +
                        '<span class="btn btn-danger" data-id="' + item.id + '">Delete</span>' + '</div>'
                    )
                    box.append(e)
                })
                setClickDeletePhoto()
            }
        })
    }

    function clickButtonUpload() {
        $("#selectFileUpload").click()
    }

    function autoUploadPhoto() {
        var formData = new FormData()
        var id = $("#box-photo-upload").data("id")

        formData.append("id", id)

        var sofile = document.getElementById("selectFileUpload").files.length

        if (sofile == 0) {
            return
        }

        var fileData = document.getElementById("selectFileUpload").files[0]

        formData.append("FileUpload", fileData)

        var urlUpload = "@Url.Action("UploadPhotoAPI")"

        $.ajax({
            data: formData,
            cache: false,
            url: urlUpload,
            type: "POST",
            contentType: false,
            processData: false,
            success: function (data) {
                // ... xu ly du lieu lay duoc
                LoadPhotos();
            }
        })
    }

    $(document).ready(function () {
        LoadPhotos()
    })
</script>
}